.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(36,48,60,1) 0%, rgba(39,36,60,1) 18%, rgba(36,46,60,1) 48%, rgba(43,36,60,1) 70%, rgba(72,7,150,1) 94%, rgba(49,0,129,1) 100%);
    margin-top: 60px;
    @include flexCenter;
    text-align: center;
}

.card__content{
    flex-direction: column;
    color: antiquewhite;
    margin-bottom: 300px;
    font-family: verdana;
    font-size: 20px;
}