* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  % de altura */
html,
body {
  height: 100%;
}

/* Header */

.header--index {
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 100%;
  width: 30%;
}

.header--others {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
}

.header__nav--indexCenter {
  text-align: center;
  margin-top: 240px;
}

.header__nav__ul--noliStyle {
  list-style-type: none;
}

.header__nav__ul__li--indexText {
  color: black;
  font-size: 2vw;
  font-style: inherit;
  text-decoration-line: none;
  text-transform: uppercase;
}

.header__nav__ul--gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__nav__ul--horizontal {
  display: flex;
  justify-content: space-evenly;
}

.header__nav__title {
  font-size: 60px;
  padding-bottom: 20px;
  font-style: italic;
}

/* Contenido derecha index */

.content {
  float: right;
  width: 70%;
  height: 94%;
  overflow: hidden;
}

/* Video */

.content__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Footer */

.footer {
  background-color: #24303c;
  cursor: default;
  position: fixed;
  bottom: 0;
  height: 6%;
  width: 100%;
}

.footer__text {
  text-align: center;
  padding-top: 18px;
}

.footer__text--white {
  color: white;
}

/* Formulario de Contacto */

form {
  text-align: center;
}

.form-container {
	margin:20px;
	padding:20px;
	border-radius:0px;
	background:#24303c;
	color:#00838F;
}
.form-container .form-title{
	font-size:25px;
	color:inherit;
	text-align:center;
	margin-bottom:10px;
}

.form-container .submit-row{
	padding:0px 0px;
}

.form-container .btn.submit-form{
	margin-top:15px;
	padding:12px;
	background:#24303c;
	color:white;
	border-radius:0px;
}

textarea {
padding:50px
}

/* Productos */
.banner {
  width: 100%;
  max-height: 450px;
}

/* Tarjetas de producto*/

.shop {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.shop__products {
  width: 300px;
  height: 500px;
  box-shadow: 10px 10px 20px grey;
  text-align: center;
}

.shop__products__image {
  height: 60%;
}

.shop__products__title {
  font-size: 20px;
  margin-bottom: 5px;
}

.shop__products__price {
  margin-bottom: 5px;
}

.shop__products__button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.shop__products__rating {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Sobre nosotros */

.aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUs__flyer {
  width: 900px;
  height: 600px;
  background-color: #24303c;
  margin-top: 75px;
}

.aboutUs__flyer_article {
  text-align: center;
}

.aboutUs__flyer__article__p--white {
  color: white;
}

.aboutUS__flyer__article__h1--white {
  color: #fff;
}

/*FAQ*/

.accordion__p--center {
  text-align: center;
}

/*Animaciones*/

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}